{% extends "base.html" %}
{% block contents %}
<div class="row mt-5">
  <div class="col-12 text-center">
    <h1>Register</h1>
  </div>
</div>
<div class="row mb-5">
  <div class="col-12">
    {{ error }}
  </div>
</div>
<div class="row mt-5">
  <div class="col-12">
      <form method="POST" action=".">
        {% csrf_token %}
        <div class="form-group">
          <label for="username">USER NAME</label>
          <input type="text"
            class="form-control"
            id="username"
            placeholder="Enter Username"
            name = "username">

        </div>
        <div class="form-group">
          <label for="useremail">USER EMAIL</label>
          <input type="email"
            class="form-control"
            id="useremail"
            placeholder="Enter User Email"
            name = "useremail">

        </div>
        <div class="form-group">
          <label for="password">PASSWORD</label>
          <input type="password" class="form-control" id="password" placeholder="Enter Password" name = "password">
        </div>
        <div class="form-group">
          <label for="re-password">CHECK PASSWORD</label>
          <input type="password" class="form-control" id="re-password" placeholder="Enter Password" name="re-password">
        </div>

        <button type="submit" class="btn btn-primary">SUBMIT</button>
      </form>
  </div>
</div>
{% endblock %}